body {
  font: 14px Arial;
  padding: 20px;

  * {
    outline: none;
    // font: inherit;
  }
}

.nav {
  &__item {
    color: blue;
    margin-right: 10px;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}
