$main-black-color: #222;
$main-grey-color: #595959;
$secondary-grey-color: #c7c7c7;
$main-white-color: #ffffff;
$main-blue-color: #4285f4;
$main-red-color: #eb4436;
$main-yellow-color: #fbbc05;
$main-green-color: #34a854;

$border-color: #eee;

$placeholder-color: #e8e8e8;
