.home {
  font-size: 16px;

  &__note {
    color: $secondary-grey-color;
    font-size: 13px;
    margin: 0 0 8px 16px;

    &:before {
      content: "#";
      float: left;
      margin-left: -16px;
    }
  }
  &__footer {
    border-top: 2px dashed $border-color;
    padding-top: 20px;
    text-align: center;
  }
}
